:root {
    --bg-primary: #fff;
    --bg-secondary: #02021;
    --bg-footer: #02021E;
    --text-primary: #000000;
    --text-secondary: #fff ;
    --text-footer: #c7c4c4;
    --accent: #25AEBA;
    --pills: #E4F5F7;
}

h1 {
    color: var(--bg-footer);
    font-size: 2.1rem;
}

.hero-left p {
    font-size: 1.1rem;
}

/* CTA buttons */
.cta-buttons {
    margin: 30px 0;
}

.jobs-btn,
.cont-btn {
    border-radius: 15px;
    padding: 0.55rem 0.8rem;
    text-decoration: none;
}

.jobs-btn {
    background-color: var(--accent);
    color: white;

    &:hover {
        background-color: #17828b;
    }
}

.cont-btn {
    background-color: rgb(237, 234, 234);
    color: black;

    &:hover {
        background-color: rgb(191, 186, 186);
    }
}

.hero-img {
    width: 85vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}