:root {
    --font: "Montserrat", "Segoe UI", Arial, sans-serif;
    --bg-primary: #fff;
    --bg-secondary: #f4f4f4;
    --text-primary: #000000;
    --text-secondary: #fff ;
    --accent: #25AEBA;
    --accent-keywords: #001830;
}

h2 {
    font-size: 1.3rem;
}

/* Form */
.form,
.contact-details {
    background-color: var(--bg-secondary);
    padding: 2px 10px 0 10px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 2rem;
}

.contact-form label {
    font-weight: 550;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: var(--accent);
    color: var(--text-secondary);
    padding: 0.7rem 1rem;
    width: fit-content;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
        background: #1c8f9b;;
    }
}

/* Contact Details */
.contact-details div {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    line-height: 2rem;
}

.contact-details span {
    font-size: 0.9rem;
}