:root {
    --font: "Lato","Montserrat", Arial, sans-serif;
    --bg-primary: #fff;
    --bg-secondary: #F4F4F4;
    --bg-footer: #02021E;
    --text-primary: #000000;
    --text-secondary: #fff ;
    --text-footer: #c7c4c4;
    --accent: #25AEBA;
    --accent-keywords: #001830;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    border-bottom: 1px solid #00000013;
}

.toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.nav {
    z-index: 9999;
    display: none;  
    position: absolute;
    top: 59px;
    right: 0;
    background: white;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 1.2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;;
}

.nav a {
    text-decoration: none;
    color: #0f2e4e;
    font-size: 1.3rem;

    &:hover {
        color: var(--accent);
    }                        
}

.nav-menu-open {
    display: flex;
}

.logo {
    height: 45px;
}

@media (min-width: 768px) {

    .toggle {
        display: none; 
    }

    .nav {
        display: block; 
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;
        width: auto;
    }

    .nav ul {
        flex-direction: row;
        gap: 2rem;
    }

    .nav a {
        font-size: 1rem;
        
        &:hover {
            color: var(--accent);
        }
    }
}

/* Contact */
.contact {
    width: 100%;
    color: white;
    padding-bottom: 50px;
}

.contact-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-title {
    font-size: 1.2rem;
}

.contact-subtext {
    font-size: 1.05rem;
    color: var(--text-footer);
}

.contact-btn {
    text-decoration: none;
    color: var(--accent);
}

footer {
    width: 100%;
    background-color: var(--bg-footer);
    padding: 0;
    padding-bottom: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    width: 100%;
    max-width: 700px;
    padding: 0 1.5rem;
}

.footer-logo {
    height: 80px;
    width: auto;
}

.footer-company {
    font-size: 1.6rem;
    color: var(--text-secondary);
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.footer-nav a {
    font-size: 1.1rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 38px 38px 147px 38px;
    padding: 0.6rem 3rem;
    text-decoration: none;
    color: var(--text-footer);
}

.footer-copyright {
    font-size: 1rem;
    color: var(--text-footer);
    margin-top: 0.5rem;
}

.layered-waves {
    display: block;
    width: calc(100% + 2px);
    margin-left: -1px;
    overflow-x: hidden;
}