:root {
    --font: "Lato", "Montserrat", Arial, sans-serif;
    --bg-primary: #fff;
    --bg-secondary: #02021;
    --bg-footer: #02021E;
    --text-primary: #000000;
    --text-secondary: #fff ;
    --text-footer: #c7c4c4;
    --accent: #00CCE9;
    --accent-keywords: #001830;
}

/* Hero */
.hero {
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.hero-title {
    color: var(--text-primary);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px 0 0 0;
}

.hero-subtext {
    font-size: 1.3rem;
}

.apply-btn {
    background-color: var(--accent);
    text-decoration: none;
    width: fit-content;
    padding: 3px 10px 3px 3px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.btn-text {
    background-color: white;
    color: var(--text-primary);
    font-size: 1.8rem;
    padding: 0px 5px;
    border-radius: 10px;
}

/* About us */
.aboutus {
    background-color: var(--bg-footer);
    padding: 0 20px;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus-section {
    padding: 20px 10px;
}

.aboutus-section h2 a {
    font-size: 1.3rem;
    color: var(--accent);
    text-decoration: none;
}

.aboutus-section p {
    font-size: 1.2rem;
    font-weight: 300;
}

.aboutus-section:not(:last-child) {
    border-bottom: 1px solid #ffffff2a;
}

.aboutus-card h3 {
    font-size: 1.2rem;
}

.aboutus img {
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
}

.aboutus-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aboutus-card {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0 10px;
    border-radius: 15px;
}

.aboutus-card:last-child ul{
    list-style: circle;
    padding-left: 20px;
}

.aboutus-card:last-child li{
    font-size: 1.1rem;
}

.jobs-btn {
    margin-top: 40px;
}

.jobs-btn a{
    text-decoration: none;
    color: var(--text-secondary);
    background-color: var(--accent);
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 1.3rem;
}

.why-item p {
    margin: 0;
}

.why-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wave {
    width: 100vw;
    display: block;
}

/* Jobs Scroller */
.jobs {
    padding: 1rem;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.subtext {
    font-size: 1.2rem;
}

.jobs-scroller{
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
}


.jobs-card {
    flex: 0 0 80%;
    scroll-snap-align: start;
    background-color: #25adbab6;
    color: var(--text-primary);
    border-radius: 14px;
    padding: 1rem;
    text-decoration: none;
}

.jobs-card h3 {
    margin: 0 0 0.25rem 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.job-meta {
    margin: 0;
    font-size: 1.1rem;
    color: var(--text-secondary);
}

.jobs-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    border: 2px dashed rgba(0, 0, 0, 0.25);
    background-color: #f9f9f9;
}

/* Contact */
.contact {
    width: 100%;
    color: white;
    padding-bottom: 50px;
}

.contact-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-title {
    font-size: 1.2rem;
}

.contact-subtext {
    font-size: 1.05rem;
    color: var(--text-footer);
}

.contact-btn {
    text-decoration: none;
    color: var(--accent);
}

.layered-waves {
    display: block;
    margin-top: 50px;
    width: 100%;
}