:root
/* Hero */
.hero {
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.hero-right {
    display: none;
}

.hero-title {
    color: var(--title);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    margin: 20px 0 0 0;
}

.hero-subtext {
    font-size: 1.3rem;
    color: var(--text-secondary);
}

.apply-btn {
    background-color: var(--accent);
    text-decoration: none;
    width: fit-content;
    padding: 5px 10px 5px 5px;
    margin-top: 40px;
    margin-bottom: 42px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    gap: 5px;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 16px 40px rgba(37, 174, 186, 0.32);
    }
}

.btn-text {
    background-color: white;
    color: black;
    font-size: 2.2rem;
    padding: 0px 5px;
    border-radius: 10px;
}

/* About us */
.aboutus {
    background-color: var(--primary);
    padding: 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus-section {
    padding: 20px 10px;
}

.aboutus-section h2 a {
    font-size: 1.3rem;
    color: var(--accent);
    text-decoration: none;
}

.aboutus-section p {
    font-size: 1.2rem;
    font-weight: 300;
}

.aboutus-section:not(:last-child) {
    border-bottom: 1px solid #ffffff2a;
}

.aboutus-card h3 {
    font-size: 1.2rem;
    color: white;
}

.aboutus img {
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
}

.aboutus-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aboutus-card {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0 10px;
    border-radius: 15px;
}

.aboutus-card:last-child ul{
    list-style: circle;
    padding-left: 20px;
}

.aboutus-card:last-child li{
    font-size: 1.1rem;
}

.jobs-btn {
    margin-top: 40px;
}

.jobs-btn a{
    text-decoration: none;
    color: white;
    background-color: var(--accent);
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 1.3rem;
}

.why-item p {
    margin: 0;
}

.why-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Jobs Scroller */
.jobs {
    padding: 1rem;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.subtext {
    font-size: 1.2rem;
}

.jobs-scroller{
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
}


.jobs-card {
    flex: 0 0 80%;
    scroll-snap-align: start;
    background-color: #25adbab6;
    color: black;
    border-radius: 14px;
    padding: 1rem;
    text-decoration: none;
}

.jobs-card h3 {
    margin: 0 0 0.25rem 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.job-meta {
    margin: 0;
    font-size: 1.1rem;
    color: white;
}

.jobs-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    border: 2px dashed rgba(0, 0, 0, 0.25);
    background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .hero{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .hero-left {
    flex: 1 1 50%;
  }

  .hero-right {
    display: inline;
    flex: 0 0 50%;
    max-width: 40vw;
    border-radius: 23% 77% 67% 33% / 30% 31% 69% 70% ;
    box-shadow: #25adba48 5px 5px, #41d0dd 10px 10px, #45d5e281 15px 15px;;
  }

  .hero-title{
    font-size: 4rem;
    line-height: 1;
  }

  .hero-subtext{
    max-width: 60ch;
    font-size: 1.25rem;
  }


  .aboutus{
    padding: 0 40px;
  }

  .aboutus-section{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    gap: 2.5rem;
    justify-content: center;
  }

  .aboutus img{
    width: 260px;
    margin: 0;
  }

  .aboutus-section h2,
  .aboutus-section p,
  .aboutus-cards,
  .why-item,
  .jobs-btn{
    grid-column: 2;
  }

  .aboutus-cards{
    flex-direction: row;
    gap: 1rem;
  }

  .aboutus-card{
    flex: 1;
  }

  .jobs{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .jobs-scroller{
    overflow: visible;
    scroll-snap-type: none;
    flex-wrap: wrap;
  }

  .jobs-card{
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (min-width: 1024px) {
  .hero-title{
    font-size: 4.6rem;
  }

  .aboutus-section{
    grid-template-columns: 320px 1fr;
  }

  .jobs-card{
    flex: 1 1 calc(25% - 1rem);
  }
}

