:root {
    --font: "Lato","Montserrat", Arial, sans-serif;
    --bg-primary: #fff;
    --bg-secondary: #F4F4F4;
    --bg-footer: #02021E;
    --text-primary: #000000;
    --text-secondary: #fff ;
    --text-footer: #c7c4c4;
    --accent: #25AEBA;
    --accent-keywords: #001830;
}

.contact-content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 5px;
    margin: 2rem;
}

.contact-details {
    background-color: var(--bg-footer);
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

.contact-head p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.704);
}

.info-item {
    display: flex;
    flex-direction: baseline;
}

.info-item span {
    color: white;
}

.contact-img {
    width: 250px;
}