:root

h1 {
    color: var(--title);
}

.job-hero {
    padding: 5px;
    margin-top: 20px;
    display: grid;
    gap: 30px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(37, 174, 186, 0.14);
    border-radius: 30px;
    padding: 5px 8px;
    font-weight: 400;
    font-size: 0.85rem;
}

.job-hero-right {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.09);
    padding: 1rem;
    color: var(--primary);
}

.short {
    font-size: 1.1rem;
    font-weight: 700;
}

.row {
    display: flex;
    padding: 8px 0;
    gap: 20px;
    justify-content: space-between;
}

.row:not(:last-child) {
    border-bottom: 1px dotted var(--accent);
}

.row span:first-child {
    font-weight: 500;
}

.row span:last-child {
    font-weight: 600;
}

.job-details-grid {
    display: grid;
    background-color: var(--primary);
}

.tasks {
    width: 90vw;
    margin: 0 auto;
}

.tasks h2 {
    color: var(--accent);
}

.task-item h3 {
    color: white;
}

.task-item p {
    color: rgba(255, 255, 255, 0.801);
}