:root {
    --bg-primary: #fff;
    --bg-secondary: #F4F4F4;
    --bg-pill: #f0f0f0;
    --text-primary: #000000;
    --text-secondary: #fff;
    --text-grey: #616161;
    --accent: #25AEBA;
    --accent-keywords: #001830;
}

.container {
    width: 90vw;
    margin: 20px auto ;
}

.color-grade {
    position: relative;
    margin-bottom: 3.5rem;
    height: 7rem;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.photo-circle {
    width: 60px;
    height: 60px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background: white;
    position: absolute;
    bottom: -30px;
    left: 20px;
}
.job-details {
    width: 85vw;
    margin: 0 auto;
    line-height: 5px;
}

.job-title {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.company-details {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.company-name {
    font-size: 1rem;
    font-weight: 600;
}

.company-location {
    color: var(--text-grey);
    font-weight: 500s;
    font-size: 0.85rem;
}

.job-description-card {
    border: 1px solid #00000011;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 10px 20px 10px;
    margin-top: 20px;
}

.job-description-card h2 {
    font-size: 1.2rem;
}

.job-description-card p,
.job-description-card li {
    font-size: 1rem;
}

.job-description-card ul {
    list-style-position: outside;
    padding-left: 25px;
}
                                                                                                               
.skills span {
    color: var(--text-grey);
    background-color: var(--bg-pill);
    border-radius: 15px;
    padding: 8px;
    font-size: 0.8rem;
}

.job-details-card {
    background-color: var(--bg-pill);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;                                                     
}    

.card-small {
    display: flex;
    gap: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-small {
    align-items: center;
}

.icon {
    height: 40px;
    width: 40px;
    fill: black;
    border: 1px solid #c7c7c77a;
    border-radius: 50%;
    padding: 5px;
}

.title{
    font-size: 0.95rem;
    font-weight: 600;
}

.subtitle {
    font-size: 0.8rem;
    color: var(--text-grey);
}

.apply-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background: var(--accent);
    color: var(--text-secondary);
    padding: 0.3rem 2rem;
    border: 1px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    z-index: 9999;

    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

    &:hover {
        transform: translateX(-50%) translateY(-4px);
    }
}